---
import Hero from '@/components/Hero.astro';
import Layout from '@/layouts/Layout.astro';
import Schedule175ALBSEV from '@/components/Schedule175ALBSEV.astro';
import Schedule175SEVALB from '@/components/Schedule175SEVALB.astro';
import Leyenda from '@/components/Leyenda.astro';
---

<Layout>
	<Hero />
	<h1 class="sticky top-0 text-2xl uppercase underline bg-green-500 z-10 w-full text-center my-4">Albaida -- Sevilla</h1>
	<Schedule175ALBSEV />
	<h1 class="sticky top-0 text-2xl uppercase underline bg-green-500 z-10 w-full text-center my-4">Sevilla -- Albaida</h1>
	<Schedule175SEVALB />
	<Leyenda />
</Layout>