---
import Hero from '@/components/Hero.astro';
import Layout from '@/layouts/Layout.astro';
import Schedule175ALBSEV from '@/components/Schedule175ALBSEV.astro';
import Schedule175SEVALB from '@/components/Schedule175SEVALB.astro';
import Leyenda from '@/components/Leyenda.astro';
---

<Layout>
	<Hero />
	<h1 class="text-2xl uppercase underline">Albaida --> Sevilla</h1>
	<Schedule175ALBSEV />
	<h1 class="text-2xl uppercase underline">Sevilla --> Albaida</h1>
	<Schedule175SEVALB />
	<Leyenda />
</Layout>