<section class="flex flex-col items-center justify-center gap-4 py-20 px-4 sm:px-6 lg:px-8">
  <h1>Horario de los buses del consorcio de transporte de la ciudad de Sevilla</h1>
  <p>Actualmente solo estamos implementando el servicio de m-175. Es un proceso un poco largo ya que los datos lo sacamos de la <a href="https://ctas.es" target="_blank">web oficial</a></p>
</section>