<section class="flex flex-col items-center justify-center gap-4 py-8 px-4 sm:px-6 lg:px-8">
  <h1 class="text-4xl font-bold">Horarios Bus M-175</h1>
  <div class="flex gap-4 justify-center items-center">
    <a href="/" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
      Ver horarios
    </a>
    <a href="/simple" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
      Ver horarios simples
    </a>
  </div>

  <p>Actualmente solo estamos implementando el servicio de m-175. Es un proceso un poco largo ya que los datos lo sacamos de la <a class="hover:underline" href="https://ctas.es" target="_blank">web oficial</a></p>
</section>