<section class="flex flex-col items-center justify-center gap-4 py-8 px-4 sm:px-6 lg:px-8">
  <h1 class="text-4xl font-bold">Leyenda</h1>
  <p>El color de cada elemento representa el tipo de servicio que se ofrece en esa hora.</p>
  <p>Los elementos azules representan servicios de <strong class="capitalize">directo</strong>.</p>
  <p>Los elementos rojos representan servicios de <strong class="capitalize">estación cercanía</strong>.</p>
  <p>Los elementos verdes representan servicios de <strong class="capitalize">Gines (ida)</strong>.</p>
  <p>Los elementos amarillos representan servicios de <strong class="capitalize">Señorio Guzmán</strong>.</p>
</section>