---
const { element, name } = Astro.props;
---
<section>
  <canvas id="schedule"></canvas>
</section>

<script>
  import { M175_ALB_SEV } from "@/const/scheduleBus";
  import { directo } from "@/const/m175AlbSev";
  const WIDTH_SCHEDULE = 1280;
  const HEIGHT_SCHEDULE = 256;
  const X_OFSSET = 120;
  const Y_OFSSET = 50;
  const BOARD_TIME = (WIDTH_SCHEDULE - X_OFSSET) / M175_ALB_SEV.frequencies.length;
  const BOARD_DAYS = (HEIGHT_SCHEDULE / 3);

  const canvas = document.querySelector('canvas');
  const ctx = canvas?.getContext('2d');
if (canvas && ctx) {

  canvas.width  = WIDTH_SCHEDULE;
  canvas.height = HEIGHT_SCHEDULE;

  function drawBoardAxis() {
    ctx?.beginPath();
    ctx?.moveTo(X_OFSSET, HEIGHT_SCHEDULE);
    ctx?.lineTo(WIDTH_SCHEDULE, HEIGHT_SCHEDULE);
    ctx?.closePath();
    ctx?.stroke();

    ctx?.beginPath();
    ctx?.moveTo(X_OFSSET, 0);
    ctx?.lineTo(X_OFSSET, HEIGHT_SCHEDULE);
    ctx?.closePath();
    ctx?.stroke();
  }

  function drawBoardTime(hour : number) {
    ctx?.beginPath();
    ctx?.moveTo(hour * BOARD_TIME + X_OFSSET, 0);
    ctx?.lineTo(hour * BOARD_TIME + X_OFSSET, HEIGHT_SCHEDULE);
    ctx?.closePath();
    ctx?.stroke();
  }

  function drawBoardDays() {
    ctx?.fillText('Lunes a Viernes', 0, BOARD_DAYS - Y_OFSSET);
    ctx?.fillText('Sabados', 0, BOARD_DAYS * 2 - Y_OFSSET);
    ctx?.fillText('Domingos y Festivos', 0,BOARD_DAYS * 3 - Y_OFSSET);
  }

  function drawBoard() {
    drawBoardAxis();
    for (let i = 0; i < M175_ALB_SEV.frequencies.length; i++) {
      drawBoardTime(i);
    }
    drawBoardDays();
  }
  drawBoard();
}
</script>

